.divInputDesign {
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(28, 28, 28, 0);
  font-family: "Lato" !important;
}

.divInputDesign {
  background-color: rgba(156, 156, 156, 0);
  width: 100vw;
  height: 10vh;
}
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
  height: 2vh;
  text-align: center;
}
.input-search {
  height: 2vh;
  width: 15vw;
  border-style: none;
  padding: 1em;
  margin: 1em;
  letter-spacing: 0.5em;
  outline: none;
  border-radius: 0.5em;
  transition: all 0.7s ease-in-out;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.085) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding-right: 1em;
  color: #fff;
  text-align: center;
}
.input-search::placeholder {
  color: rgba(255, 255, 255, 0.619);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 7vw;
  height: 3vh;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus ~ .input-search {
  width: 50vw;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
  width: 50vw;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
