.headerDesign {
    height: 20vh; //Le damos un 20x100
    width: 100vw;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
   

    background-color: lightgrey;
}

.linkDesign {
    font-weight: bold;

    margin-right: 3em;
    margin-bottom: 1.5em;
}